# Virtual environment
venv/
.venv/
env/

# Python Cache
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Large Model Checkpoints (handled locally via git exclude)

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# macOS system files
.DS_Store

# Local application tasks and logs
.system_generated/
.tempmediaStorage/
*.log
